[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sapply = {editable = true, path = "."}
wora = "*"
spacy = "*"
regex = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
